---
BasedOnStyle: LLVM
IndentWidth: 4
---
Language: Cpp
DerivePointerAlignment: false
PointerAlignment: Left
AccessModifierOffset: -4
AlwaysBreakTemplateDeclarations: Yes

BinPackArguments: false
BinPackParameters: false

AllowShortCaseLabelsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: AllIfsAndElse

AlignAfterOpenBracket: DontAlign
